<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.BIND_APPWIDGET" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <queries>
        <package android:name="com.google.android.googlequicksearchbox" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent><action android:name="android.intent.action.SET_WALLPAPER" /></intent>
        <intent><action android:name="android.service.wallpaper.WallpaperService" /></intent>
        <intent><action android:name="org.adw.launcher.THEMES" /></intent>
        <intent><action android:name="com.gau.go.launcherex.theme" /></intent>
        <intent><action android:name="com.novalauncher.THEME" /></intent>
        <intent><action android:name="com.teslacoilsw.launcher.THEME" /></intent>
        <intent><action android:name="com.anddoes.launcher.THEME" /></intent>
        <intent><action android:name="com.dlto.atom.launcher.THEME" /></intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="com.fede.launcher.THEME_ICONPACK" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="com.anddoes.launcher.THEME" />
        </intent>
    </queries>
    <application android:label="Duo Launcher" android:icon="@drawable/ic_launcher"
        android:name=".DuoApplication"
        android:theme="@style/Theme.Duo" android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules" android:supportsRtl="true">
        <property android:name="android.window.PROPERTY_ACTIVITY_EMBEDDING_SPLITS_ENABLED" android:value="true" />
        <property android:name="android.window.PROPERTY_ACTIVITY_EMBEDDING_ALLOW_SYSTEM_OVERRIDE" android:value="false" />
        <activity android:name=".DiscoverActivity" android:exported="false"
            android:theme="@style/Theme.Duo.Discover"
            android:taskAffinity="${applicationId}.discover" android:excludeFromRecents="true"
            android:resizeableActivity="true" />
        <activity android:name=".DiscoverFeedActivity" android:theme="@style/Theme.Duo.Discover" android:exported="false" android:resizeableActivity="true" />
        <activity android:name=".LiveDiscoverActivity" android:theme="@style/Theme.Duo.LiveDiscover"
            android:exported="false" android:resizeableActivity="true" />
        <activity android:name=".DockAppPickerActivity" android:theme="@style/Theme.Duo.Picker"
            android:exported="false" android:excludeFromRecents="true" />
        <service android:name=".DuneWallpaperService" android:label="Duo dunes"
            android:permission="android.permission.BIND_WALLPAPER" android:exported="true">
            <intent-filter><action android:name="android.service.wallpaper.WallpaperService" /></intent-filter>
            <meta-data android:name="android.service.wallpaper" android:resource="@xml/dune_wallpaper" />
        </service>
        <service android:name=".SystemShadeAccessibilityService"
            android:label="@string/shade_service_label"
            android:description="@string/shade_service_description"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice"
                android:resource="@xml/system_shade_accessibility_service" />
        </service>
        <activity android:name=".MainActivity" android:exported="true"
            android:launchMode="singleTask" android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
